main {
    padding: 0 100px 50px;
    display: grid;
    gap: 30px;
}

section {
    padding: 0;
    display: grid;
    gap: 20px;
}

label {
    display: flex;
    gap: 10px;
    align-items: center;
    border: none !important;
}

/* input {
    position: relative;
}

input:required::before {
    content: "*";
    color: red;
    position: absolute;
    left: -20px;
} */

label span {
    flex-grow: 1;
    border-bottom: 1px solid #4841411A;
    height: 100%;
    display: flex;
    align-items: center;
}

section>h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

.mini-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #4841411A;
    padding-top: 24px;
    color: #48414199;
}

.current {
    color: #484141;
}

.mini-nav img {
    max-width: 10px;
    height: 8px;
    object-fit: contain;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}

.items-container hr {
    display: none;
}

.billing-details {
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #4841411A;
    display: grid;
    gap: 16px;
}

.billing-details>* {
    height: 50px;
    border-bottom: 1px solid #4841411A;
    font-size: 1.25rem;
    max-width: 100% !important;
    width: 100%;
    color: #48414199;
}

.billing-details h2 {
    font-weight: 700;
    font-size: 1.5rem;
    height: fit-content;
    border: none;
    color: var(--primary-color);
}

.fullname {
    width: 100%;
    max-width: 100%;
    display: flex;
    border-bottom: 1px solid #4841411A;
}

.fullname input {
    font-size: 1.25rem;
    flex: 1;
}

.order-summary {
    display: grid;
    gap: 24px;
    padding: 20px 24px;
    border: 1px solid #4841411A;
    border-radius: 20px;
    height: fit-content;
}

.order-summary h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.order-details {
    display: grid;
    gap: 20px;
}

.order-details .items {
    display: grid;
    gap: 20px;
}


.det {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: #48414199;
    font-size: 1.25rem;
}



.value {
    font-weight: 700;
    font-size: 1.25rem;
}

.value:first-of-type {
    color: green;
    font-weight: 400 !important;
}

#discount {
    color: #FF3333;
}

.total-texts {
    border-top: 1px solid #4841411A;
    padding-top: 20px;
}

.total-texts .label {
    color: var(--primary-color);
}

#total {
    font-size: 1.5rem;
}

.payment-options {
    display: grid;
    gap: 24px;
}

.payment-options label {
    font-size: 1.125rem;
}

.payment-options>p {
    font-size: 0.875rem;
}

.paypal img {
    width: 18px;
    margin-left: -12px;
}

.order-summary button {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.cta {
    background-color: var(--secondary-color);
}

.cta h1 {
    color: var(--primary-color);
}

.cta form button {
    background-color: var(--primary-color);
    color: white;
}

@media (max-width: 600px) {
    main {
        padding: 0 16px 100px;
    }

    section>h1 {
        font-size: 2rem;
    }

    .items-container {
        grid-template-columns: 1fr;
    }

    .items-container hr {
        display: block;
        color: #4841411A;
    }

    .billing-details>* {
        font-size: 1rem;
        height: 40px;
    }

    .fullname {
        height: fit-content;
        border: none;
        gap: 12px;
        flex-direction: column;
    }

    .fullname input {
        font-size: 1rem;
        min-height: 40px;
        border-bottom: 1px solid #4841411A;
    }

    .order-summary h2 {
        border-bottom: 1px solid #4841411A;
        padding-bottom: 16px;
    }
}